<div class="container-fluid px-0 py-4 mx-auto">
    <div class="row justify-content-center mx-auto">
        <div class="col-12 px-xs-0 col-md-11">
            <div class="card">
                <div class="row justify-content-center">
                <div class="row">
                    <div class="col-md-7 d-flex justify-content-center mb-3">
                        <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">About</a> </div>
                        <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Work</a> </div>
                        <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Blog</a> </div>
                        <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Careers</a> </div>
                        <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <a href="#">Contact</a> </div>
                    </div>
                    <div class="col-md-3 justify-content-center d-flex"> <a href="#">
                            <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                                <div class="fa fa-facebook"></div>
                            </div>
                        </a> <a href="#">
                            <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                                <div class="fa fa-twitter"></div>
                            </div>
                        </a> <a href="#">
                            <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                                <div class="fa fa-instagram"></div>
                            </div>
                        </a> <a href="#">
                            <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                                <div class="fa fa-linkedin"></div>
                            </div>
                        </a> <a href="#">
                            <div class="d-inline-flex px-3 px-md-2 px-lg-3 pt-3">
                                <div class="fa fa-google-plus"></div>
                            </div>
                        </a> </div>
                </div>
            </div>
        </div>
    </div>
</div>